*{
    background-color: darkturquoise;
    text-align: center;
}
h1{
    text-align: center;
    color: blueviolet;
}
h2{
    text-align: center;
    color: blueviolet;
}
h3{
    text-align: center;
    color: blueviolet;
}
li{
    color: antiquewhite;
}
